:root
{
    --Backgoung1:#ffffff;
    --Backgoung2:#e5e5e5;
    --Backgoung3:#14213d;
    --Backgoung4:#000000;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform:capitalize;
    color: inherit;
    background: inherit;
}

body
{
    width: 100%;
    height: 100vh;
    background: var(--Backgoung3);
    padding: .2rem 2rem;
}
.Container
{
    width: 90%;
    height: 88vh;
    background: #000a20ce;
    transform: translateY(2rem);
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 25px;
    border-radius: .3rem;
    text-align: center;
}
.Navigation
{
    width: 100%;
    height: auto;
    padding: .2rem 3rem;
    background: #010e2b;
    display: flex;
    align-items: end;
    justify-content: space-between;
    transform: translateY(1rem);
}
.Navigation >button
{
   background: var(--Backgoung2);
   padding: .1rem .3rem;
   border-radius: .1rem;
  
}